/**/cmake-build-debug/
/**/cmake-build-release/
/tools/venv/
picopad-sdk/pico-sdk
venv
/**/venv
games
picopad-sdk/gb
cmake_install.cmake
picopad-sdk/**/Makefile
pico-sdk/**/Makefile
/**/CMakeFiles/
/**/build
/**/generated
/**/*PioasmBuild-*
/**/*ELF2UF2Build-*
/picopad_base/**/Makefile
/_make/rom*
CMakeCache.txt
*.bin
*.dis
*.elf
*.map
*.hex
*.uf2
*.sdk

